In [1]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine # database connection
import sqlite3
from pandas.io.json import json_normalize
import requests

# Create database

This step should only be execute the first time. After the database has been created the first time, then creating a database is deprecated. If we create the database again we will acidentially lose of the the prior data we have collected.

In [2]:
# create a database that will hold all ticket touting information
# e.g. table for artist_ids and information, 
# table for concerts affiliated for a particular genre, etc.

# Initializes database with filename 311_8M.db in current directory

### THIS IS THE LINE TO RUN TO CREATE THE DATABASE:
###disk_engine = create_engine('sqlite:///ticket_touting.db')

# Create a function!

This function collects all artist information based on their genre. It then creates a column to specifiy wich genre they are, and then saves all artists into a single database.

In [3]:
def get_artist_by_genre(genre, per_page=5000):
    
    """Collect all artists the your genre of choice and save dataframe
    Then use data frame to store into database as a table

    Call URL for all electronic artists
    per_page = 5000 because it is the max"""
    
    # The genre must be lowercase so let's account for that
    genre = str.lower(genre)

    
    # string together url to call api
    # client_id is the api key
    # it then mashes together the api key with the desired genre and the number of results you want
    
    client_id='NDQxMDA3NXwxNDU5MDI4MzEx'
    get_artists_url = ('https://api.seatgeek.com/2/performers?format=json&client_id='+
                       client_id+'&genres.name='+genre+'&per_page='+str(per_page))
        
    
    # use url structure to call api key
    # then return json results into dataframe.
    # I am normalizing the 'performers' section of the json
    # because the other section is just meta data info. 
    # i.e. how many artists there are and other small info that 
    # can be derived from the infomatino in performers.
    
    r = requests.get(get_artists_url)
    json_all_artists = r.json()
    df_all_artists = json_normalize(json_all_artists)
    try: 
        all_artists_ids = json_normalize(df_all_artists['performers'][0])


        # once the json have been converted to a dataframe
        # I drop a couple of features: genres and taxonomies.
        # Both of the columns cause problems when we try to store them
        # into a SQL database. Both of the columns are not needed.
        # We know the genre already, so we will make a column to replace to droped 'genres.'
        # The taxonomies data does not seem to be useful. Almost all of them return the same thing.


        all_artists_ids = all_artists_ids.drop(['genres', 'taxonomies'], 1)
        # SeetGeek has a problem generating 'hip-hop' but it works
        # if you ping the api with hip or hop. Therefore, if either of those
        # are used then well save the genre column accordingly.
        if genre == 'hip' or genre == 'hop':
            all_artists_ids['genres'] = 'hip-hop'
        else:
            all_artists_ids['genres'] = genre

        # All of the columns that are strings are converted to them.
        # When the raw data is returned from the API it is not coming back
        # as a proper string, and therefore cannot be put into a SQL database.

        all_artists_ids[['divisions', 'has_upcoming_events', 'home_venue_id', 'id', 'image', 'images.huge',
                         'links', 'name', 'score', 'short_name', 'slug', 'stats.event_count', 
                         'type', 'url']] = all_artists_ids[['divisions', 'has_upcoming_events', 'home_venue_id',
                                                            'id', 'image', 'images.huge', 'links', 'name', 
                                                            'score', 'short_name', 'slug', 'stats.event_count',
                                                            'type', 'url']].astype('str')

        # Set the is as the index colum. All ids are (or should be) unique
        all_artists_ids = all_artists_ids.set_index('id')

        # Append the data collected to the artist database
        all_artists_ids.to_sql('all_artist_data_seetgeek', 'sqlite:///ticket_touting.db', if_exists='append', index=True, index_label='id')

        # Now That the data has been appended lets de-duplicate our table
        # To do this I am going to conncect to the data base:
        con = sqlite3.connect('ticket_touting.db')
        cur = con.cursor()

        # Then query the the artist table, only selecting distinc/unique instances
        query = "SELECT DISTINCT * FROM all_artist_data_seetgeek"
        cur.execute(query)

        # From there I will execute the query and save it as a dataframe with the
        # the appropriate columns
        column_names = ['id', 'divisions', 'has_upcoming_events', 'home_venue_id', 'image', 'images.huge', 'links', 'name',
                        'score', 'short_name', 'slug', 'stats.event_count', 'type', 'url', 'genres']

        # Once the 'fect' is executed with the correct columns I am going
        # to set the 'id' column as the index, and then push all of the
        # distinct/unique artist to the 'all_artists_data' table within
        # the 'ticket_touting' database

        pd.DataFrame(cur.fetchall(),
                     columns=column_names).set_index('id').to_sql('all_artist_data_seetgeek',
                                                                  'sqlite:///ticket_touting.db',
                                                                  if_exists='replace', index=True, index_label='id')
        return 'Finished adding {} artists!'.format(genre)
    
    except: 
        print '''This is an incorrect genre.
       \nYou should make sure that your genre does not have any spaces or special characters.'''

# Test

Let's get data for just the electronic artist and see a snapshot of the stored data.

In [4]:
get_artist_by_genre('electronic')

'Finished adding electronic artists!'

In [2]:
# Now That the data has been appended lets de-duplicate our table
# To do this I am going to conncect to the data base:

con = sqlite3.connect('ticket_touting.db')
cur = con.cursor()

# Then query the the artist table, only selecting distinc/unique instances
query_test = "SELECT * FROM all_artist_data_seetgeek LIMIT 3"
cur.execute(query_test)

# From there I will execute the query and save it as a dataframe with the
# the appropriate columns
column_names = ['id', 'divisions', 'has_upcoming_events', 'home_venue_id', 'image', 'images.huge', 'links', 'name',
                    'score', 'short_name', 'slug', 'stats.event_count', 'type', 'url', 'genres']

# Once the 'fect' is executed with the correct columns I am going
# to set the 'id' column as the index.

pd.DataFrame(cur.fetchall(),
             columns=column_names).set_index('id')

,divisions,has_upcoming_events,home_venue_id,image,images.huge,links,name,score,short_name,slug,stats.event_count,type,url,genres
id,,,,,,,,,,,,,,
7960,nan,False,nan,https://chairnerd.global.ssl.fastly.net/images...,https://chairnerd.global.ssl.fastly.net/images...,[],Swedish House Mafia,0.734832,Swedish House Mafia,swedish-house-mafia,0,band,https://seatgeek.com/swedish-house-mafia-tickets,electronic
38619,nan,True,nan,nan,nan,[],Sinden,0.691532,Sinden,sinden,1,band,https://seatgeek.com/sinden-tickets,electronic
25737,nan,True,nan,nan,nan,[],Trent Cantrelle,0.691532,Trent Cantrelle,trent-cantrelle,1,band,https://seatgeek.com/trent-cantrelle-tickets,electronic

# Voilà! Let's get everything

- Now that it worked lets collect all artist information and store it into a SQL database. 
- We will be able to use that data later to collect other data.
    - I've noticed that SeatGeek's API has trouble return results if the genre has a space or special character in it. For that reason Rock will all be stored as one genre, and 'Hip' is short for hip-hop.

In [6]:
all_seetgeek_genres = ['Alternative', 'Rock', 'Country', 'Electronic', 'Hip',
                       'Indie', 'Pop', 'Rnb', 'Alternative', 'Blues', 'Classical',
                       'Folk', 'Jazz', 'Latin', 'Punk', 'Rap', 'Reggae', 'Soul']

In [7]:
for i in range(pd.DataFrame(all_seetgeek_genres).shape[0]):
    print all_seetgeek_genres[i]
    get_artist_by_genre(all_seetgeek_genres[i])

Alternative
Rock
Country
Electronic
Hip
Indie
Pop
Rnb
Alternative
Blues
Classical
Folk
Jazz
Latin
Punk
Rap
Reggae
Soul

# Next up, more data!
Now that I have collected all artist information I'm going to use that in order to collected data for all concerts for earch artist.

**I will use the genre names from the SQL artist table in order to search seetgeek's api.**

In [13]:
con = sqlite3.connect('ticket_touting.db')
cur = con.cursor()
query_test = "SELECT DISTINCT genres FROM all_artist_data_seetgeek"
cur.execute(query_test)
all_seetgeek_genres = pd.DataFrame(cur.fetchall(), columns=['genres'])
all_seetgeek_genres

         genres
0    electronic
1   alternative
2          rock
3       country
4       hip-hop
5         indie
6           pop
7           rnb
8         blues
9     classical
10         folk
11         jazz
12        latin
13         punk
14          rap
15       reggae
16         soul

**I'm using the distinct genres to search through the SQL table. The way that I will search and get results is shown in the code below. This code will be used in a function.**

In [14]:
query_test = "SELECT * FROM all_artist_data_seetgeek WHERE genres = '{}'".format(all_seetgeek_genres['genres'][0])
cur.execute(query_test)

# From there I will execute the query and save it as a dataframe with the
# the appropriate columns
column_names = ['id', 'divisions', 'has_upcoming_events', 'home_venue_id', 'image', 'images.huge', 'links', 'name',
                    'score', 'short_name', 'slug', 'stats.event_count', 'type', 'url', 'genres']

# Once the 'fect' is executed with the correct columns I am going
# to set the 'id' column as the index.

x = pd.DataFrame(cur.fetchall(),
             columns=column_names).set_index('id')

In [15]:
x

,divisions,has_upcoming_events,home_venue_id,image,images.huge,links,name,score,short_name,slug,stats.event_count,type,url,genres
id,,,,,,,,,,,,,,
7960,nan,False,nan,https://chairnerd.global.ssl.fastly.net/images...,https://chairnerd.global.ssl.fastly.net/images...,[],Swedish House Mafia,0.734832,Swedish House Mafia,swedish-house-mafia,0,band,https://seatgeek.com/swedish-house-mafia-tickets,electronic
38619,nan,True,nan,nan,nan,[],Sinden,0.691532,Sinden,sinden,1,band,https://seatgeek.com/sinden-tickets,electronic
25737,nan,True,nan,nan,nan,[],Trent Cantrelle,0.691532,Trent Cantrelle,trent-cantrelle,1,band,https://seatgeek.com/trent-cantrelle-tickets,electronic
18965,nan,True,nan,nan,nan,[],Nina Kraviz,0.68924,Nina Kraviz,nina-kraviz,2,band,https://seatgeek.com/nina-kraviz-tickets,electronic
58199,nan,False,nan,https://chairnerd.global.ssl.fastly.net/images...,https://chairnerd.global.ssl.fastly.net/images...,[],Lady Starlight,0.687344,Lady Starlight,lady-starlight,0,band,https://seatgeek.com/lady-starlight-tickets,electronic
22817,nan,False,nan,nan,nan,[],Huoratron,0.678964,Huoratron,huoratron,0,band,https://seatgeek.com/huoratron-tickets,electronic
33619,nan,True,nan,nan,nan,[],Laurent Garnier,0.678358,Laurent Garnier,laurent-garnier,1,band,https://seatgeek.com/laurent-garnier-tickets,electronic
17603,nan,True,nan,https://chairnerd.global.ssl.fastly.net/images...,https://chairnerd.global.ssl.fastly.net/images...,[],Sensation,0.665095,Sensation,sensation,4,band,https://seatgeek.com/sensation-tickets,electronic
16783,nan,True,nan,nan,nan,[],Lee Burridge,0.661718,Lee Burridge,lee-burridge,4,band,https://seatgeek.com/lee-burridge-tickets,electronic
34242,nan,False,nan,https://chairnerd.global.ssl.fastly.net/images...,https://chairnerd.global.ssl.fastly.net/images...,[],Zane Lowe,0.661716,Zane Lowe,zane-lowe,0,band,https://seatgeek.com/zane-lowe-tickets,electronic
11721,nan,False,nan,nan,nan,[],Factory Floor,0.661541,Factory Floor,factory-floor,0,band,https://seatgeek.com/factory-floor-tickets,electronic
22631,nan,True,nan,nan,nan,[],Solomun,0.654417,Solomun,solomun,1,band,https://seatgeek.com/solomun-tickets,electronic
55540,nan,False,nan,https://chairnerd.global.ssl.fastly.net/images...,https://chairnerd.global.ssl.fastly.net/images...,[],MitiS,0.654335,MitiS,mitis,0,band,https://seatgeek.com/mitis-tickets,electronic
22866,nan,False,nan,https://chairnerd.global.ssl.fastly.net/images...,https://chairnerd.global.ssl.fastly.net/images...,[],Dixon,0.64988,Dixon,dixon,0,band,https://seatgeek.com/dixon-tickets,electronic
42876,nan,True,nan,nan,nan,[],The Martinez Brothers,0.648394,The Martinez Brothers,the-martinez-brothers,5,band,https://seatgeek.com/the-martinez-brothers-tic...,electronic
22449,nan,True,nan,https://chairnerd.global.ssl.fastly.net/images...,https://chairnerd.global.ssl.fastly.net/images...,[],Dub FX,0.648369,Dub FX,dub-fx,5,band,https://seatgeek.com/dub-fx-tickets,electronic
24940,nan,True,nan,https://chairnerd.global.ssl.fastly.net/images...,https://chairnerd.global.ssl.fastly.net/images...,[],Icona Pop,0.648312,Icona Pop,icona-pop,1,band,https://seatgeek.com/icona-pop-tickets,electronic
85298,nan,True,nan,nan,nan,[],Flint Eastwood,0.647575,Flint Eastwood,flint-eastwood,6,band,https://seatgeek.com/flint-eastwood-tickets,electronic
41374,nan,True,nan,nan,nan,[],Tiga,0.645034,Tiga,tiga,2,band,https://seatgeek.com/tiga-tickets,electronic
22512,nan,False,nan,nan,nan,[],Tiger & Woods,0.644484,Tiger & Woods,tiger-woods,0,band,https://seatgeek.com/tiger-woods-tickets,electronic
22617,nan,True,nan,nan,nan,[],Guy Gerber,0.64267,Guy Gerber,guy-gerber,1,band,https://seatgeek.com/guy-gerber-tickets,electronic
24048,nan,False,nan,https://chairnerd.global.ssl.fastly.net/images...,https://chairnerd.global.ssl.fastly.net/images...,[],The 2 Bears,0.638333,The 2 Bears,the-2-bears,0,band,https://seatgeek.com/the-2-bears-tickets,electronic
18124,nan,True,nan,nan,nan,[],Scuba,0.637685,Scuba,scuba,2,band,https://seatgeek.com/scuba-tickets,electronic
22815,nan,True,nan,https://chairnerd.global.ssl.fastly.net/images...,https://chairnerd.global.ssl.fastly.net/images...,[],Birdy Nam Nam,0.636601,Birdy Nam Nam,birdy-nam-nam,1,band,https://seatgeek.com/birdy-nam-nam-tickets,electronic
235786,nan,False,nan,https://chairnerd.global.ssl.fastly.net/images...,https://chairnerd.global.ssl.fastly.net/images...,[],Arca,0.635978,Arca,arca,0,band,https://seatgeek.com/arca-tickets,electronic
23393,nan,True,nan,nan,nan,[],Damian Lazarus,0.634434,Damian Lazarus,damian-lazarus,4,band,https://seatgeek.com/damian-lazarus-tickets,electronic
13665,nan,False,nan,https://chairnerd.global.ssl.fastly.net/images...,https://chairnerd.global.ssl.fastly.net/images...,[],The Knife,0.634124,The Knife,the-knife,0,band,https://seatgeek.com/the-knife-tickets,electronic
22576,nan,True,nan,nan,nan,[],AN21,0.633176,AN21,an21,1,band,https://seatgeek.com/an21-tickets,electronic
27139,nan,True,nan,nan,nan,[],Kastle,0.632444,Kastle,kastle,1,band,https://seatgeek.com/kastle-tickets,electronic
32201,nan,False,nan,https://chairnerd.global.ssl.fastly.net/images...,https://chairnerd.global.ssl.fastly.net/images...,[],UZ,0.630909,UZ,uz,0,band,https://seatgeek.com/uz-tickets,electronic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217457,nan,False,nan,nan,nan,[],Pokerface,0.0,Pokerface,pokerface,0,band,https://seatgeek.com/pokerface-tickets,electronic
239019,nan,False,nan,nan,nan,[],Rabbit In The Moon,0.0,Rabbit In The Moon,rabbit-in-the-moon,0,band,https://seatgeek.com/rabbit-in-the-moon-tickets,electronic
247593,nan,True,nan,nan,nan,[],Telefon Tel Aviv,0.0,Telefon Tel Aviv,telefon-tel-aviv,5,band,https://seatgeek.com/telefon-tel-aviv-tickets,electronic
283244,nan,False,nan,nan,nan,[],Ekkah,0.0,Ekkah,ekkah,0,band,https://seatgeek.com/ekkah-tickets,electronic
286159,nan,False,nan,nan,nan,[],Project Party,0.0,Project Party,project-party,0,band,https://seatgeek.com/project-party-tickets,electronic
286065,nan,False,nan,nan,nan,[],DJ Scotty Thomson,0.0,DJ Scotty Thomson,dj-scotty-thomson,0,band,https://seatgeek.com/dj-scotty-thomson-tickets,electronic
402616,nan,False,nan,nan,nan,[],The Official Winter Social Afterparty,0.0,The Official Winter Social Afterparty,the-official-winter-social-afterparty,0,band,https://seatgeek.com/the-official-winter-socia...,electronic
442624,nan,False,nan,nan,nan,[],DJ Espada,0.0,DJ Espada,dj-espada,0,band,https://seatgeek.com/dj-espada-tickets,electronic
420024,nan,False,nan,nan,nan,[],Krimer,0.0,Krimer,krimer,0,band,https://seatgeek.com/krimer-tickets,electronic
450230,nan,False,nan,nan,nan,[],Teen Flirt,0.0,Teen Flirt,teen-flirt,0,band,https://seatgeek.com/teen-flirt-tickets,electronic
450204,nan,False,nan,nan,nan,[],"Hyperglow, Howell New Jersey! America's Large...",0.0,"Hyperglow, Howell New Jersey! America's Large...",hyperglow-howell-new-jersey-america-s-largest-...,0,band,https://seatgeek.com/hyperglow-howell-new-jers...,electronic
450379,nan,False,nan,nan,nan,[],Bass Nation: Doctor P,0.0,Bass Nation: Doctor P,bass-nation-doctor-p,0,band,https://seatgeek.com/bass-nation-doctor-p-tickets,electronic
450386,nan,False,nan,nan,nan,[],Glow Land,0.0,Glow Land,glow-land,0,band,https://seatgeek.com/glow-land-tickets,electronic
450639,nan,False,nan,nan,nan,[],Mad Dubstep,0.0,Mad Dubstep,mad-dubstep,0,band,https://seatgeek.com/mad-dubstep-tickets,electronic
450709,nan,False,nan,nan,nan,[],Cosmic Opera,0.0,Cosmic Opera,cosmic-opera,0,band,https://seatgeek.com/cosmic-opera-tickets,electronic
450754,nan,False,nan,nan,nan,[],Hyphy Crunk,0.0,Hyphy Crunk,hyphy-crunk,0,band,https://seatgeek.com/hyphy-crunk-tickets,electronic
450691,nan,False,nan,nan,nan,[],Lucky 2012,0.0,Lucky 2012,lucky-2012,0,band,https://seatgeek.com/lucky-2012-tickets,electronic
450728,nan,False,nan,nan,nan,[],Abstract Meets Rockhard,0.0,Abstract Meets Rockhard,abstract-meets-rockhard,0,band,https://seatgeek.com/abstract-meets-rockhard-t...,electronic
450778,nan,False,nan,nan,nan,[],Loud Mouth Bass,0.0,Loud Mouth Bass,loud-mouth-bass,0,band,https://seatgeek.com/loud-mouth-bass-tickets,electronic
450672,nan,False,nan,nan,nan,[],Ton!c,0.0,Ton!c,ton-c,0,band,https://seatgeek.com/ton-c-tickets,electronic
450526,nan,False,nan,nan,nan,[],Quruli,0.0,Quruli,quruli,0,band,https://seatgeek.com/quruli-tickets,electronic
450867,nan,False,nan,nan,nan,[],Freakout! 8th Annual Halloween,0.0,Freakout! 8th Annual Halloween,freakout-8th-annual-halloween,0,band,https://seatgeek.com/freakout-8th-annual-hallo...,electronic
451271,nan,False,nan,nan,nan,[],Hot Mix 5,0.0,Hot Mix 5,hot-mix-5,0,band,https://seatgeek.com/hot-mix-5-tickets,electronic
450881,nan,False,nan,nan,nan,[],DJ Show,0.0,DJ Show,dj-show,0,band,https://seatgeek.com/dj-show-tickets,electronic
450879,nan,False,nan,nan,nan,[],FLT RSK,0.0,FLT RSK,flt-rsk,0,band,https://seatgeek.com/flt-rsk-tickets,electronic
451574,nan,False,nan,nan,nan,[],Dian Diaz,0.0,Dian Diaz,dian-diaz,0,band,https://seatgeek.com/dian-diaz-tickets,electronic
451625,nan,False,nan,nan,nan,[],DJ Hazard - DJ,0.0,DJ Hazard - DJ,dj-hazard-dj,0,band,https://seatgeek.com/dj-hazard-dj-tickets,electronic
49997,nan,True,nan,nan,nan,[],Dmx Krew,0.0,Dmx Krew,dmx-krew,1,band,https://seatgeek.com/dmx-krew-tickets,electronic
31350,nan,True,nan,nan,nan,[],Sepalcure,0.0,Sepalcure,sepalcure,1,band,https://seatgeek.com/sepalcure-tickets,electronic
23915,nan,True,nan,nan,nan,[],Kode9,0.0,Kode9,kode9,3,band,https://seatgeek.com/kode9-tickets,electronic

**I'm making a function to do this data collection**

In [16]:
x.shape[0]

1806

In [11]:
def get_concert_by_artist(genre_in_database):
    con = sqlite3.connect('ticket_touting.db')
    cur = con.cursor()
    query = "SELECT id, genres, short_name FROM all_artist_data_seetgeek WHERE genres = '{}'".format(genre_in_database)
    cur.execute(query)
    x = pd.DataFrame(cur.fetchall(),columns=['id', 'genres', 'short_name'])
    
    master_concerts = pd.DataFrame()
    
    for i in range(x.shape[0]):
        try:    
            artist_concert_info = "https://api.seatgeek.com/2/events?performers.id={}&client_id=NDQxMDA3NXwxNDU5MDI4MzEx&per_page=5000&datetime_utc.gt=2012-01-01".format(
                x['id'][i])

            r = requests.get(artist_concert_info)
            json_concert_per_artist = r.json()
            y = json_normalize(json_concert_per_artist)
            if y['events'][0] != []:
                single_artist_df = json_normalize(y['events'][0])
                single_artist_df['artist_name'] = x['short_name'][i]
                single_artist_df['artist_id'] = x['id'][i]
                single_artist_df['artist_genre'] = x['genres'][i]
                master_concerts = master_concerts.append(single_artist_df)
                


        except:
            'placeholder'
            
        if i % 50 == 0:
            print 'Searching #{} out of {}'.format(i, x.shape[0])
                

    # We will only put the data into a SQL database 
    # once all of the data has been collected.
    # Once the data is added to the database then we will run a 
    # distinct SQL function in order to de-duplicate the data

    print 'Making the database for {}'.format(genre_in_database)

    master_concerts = master_concerts.drop(['links', 'performers',
                                            'taxonomies', 'venue.links',
                                            'venue.url'], 1).set_index('id')
    master_concerts.to_sql('all_concert_data_seetgeek', 'sqlite:///ticket_touting.db',
                       if_exists='append', index=True, index_label='id')

    print 'Making the de-duplicated database!'

    # Now That the data has been appended lets de-duplicate our table
    # To do this I am going to conncect to the data base:
    con = sqlite3.connect('ticket_touting.db')
    cur = con.cursor()

    # Then query the the artist table, only selecting distinc/unique instances
    query = "SELECT DISTINCT * FROM all_concert_data_seetgeek"
    cur.execute(query)

    # From there I will execute the query and save it as a dataframe with the
    # the appropriate columns
    column_names = ['id', 'announce_date', 'created_at', 'date_tbd', 'datetime_local', 'datetime_tbd',
                    'datetime_utc', 'general_admission', 'score','short_title','stats.average_price',
                     'stats.highest_price','stats.listing_count','stats.lowest_price', 
                    'stats.lowest_price_good_deals','time_tbd','title','type','url','venue.address',
                    'venue.city','venue.country','venue.display_location','venue.extended_address',
                    'venue.id','venue.location.lat','venue.location.lon','venue.name',
                    'venue.postal_code','venue.score','venue.slug', 'venue.state', 
                    'venue.timezone','visible_until_utc','artist_name','artist_id','artist_genre']



    # Once the 'fect' is executed with the correct columns I am going
    # to set the 'id' column as the index, and then push all of the
    # distinct/unique artist to the 'all_artists_data' table within
    # the 'ticket_touting' database

    pd.DataFrame(cur.fetchall(),
                 columns=column_names).set_index('id').to_sql('all_concert_data_seetgeek',
                                                              'sqlite:///ticket_touting.db',
                                                              if_exists='replace', index=True, index_label='id')

    return 'Done!'

In [12]:
get_concert_by_artist('electronic')

Searching #0 out of 1806
Searching #50 out of 1806
Searching #100 out of 1806
Searching #150 out of 1806
Searching #200 out of 1806
Searching #250 out of 1806
Searching #300 out of 1806
Searching #350 out of 1806
Searching #400 out of 1806
Searching #450 out of 1806
Searching #500 out of 1806
Searching #550 out of 1806
Searching #600 out of 1806
Searching #650 out of 1806
Searching #700 out of 1806
Searching #750 out of 1806
Searching #800 out of 1806
Searching #850 out of 1806
Searching #900 out of 1806
Searching #950 out of 1806
Searching #1000 out of 1806
Searching #1050 out of 1806
Searching #1100 out of 1806
Searching #1150 out of 1806
Searching #1200 out of 1806
Searching #1250 out of 1806
Searching #1300 out of 1806
Searching #1350 out of 1806
Searching #1400 out of 1806
Searching #1450 out of 1806
Searching #1500 out of 1806
Searching #1550 out of 1806
Searching #1600 out of 1806
Searching #1650 out of 1806
Searching #1700 out of 1806
Searching #1750 out of 1806
Searching #1800 out of 1806
Making the database for electronic
Making the de-duplicated database!

'Done!'

Let's do a query and make sure the data stored properly

In [13]:
con = sqlite3.connect('ticket_touting.db')
cur = con.cursor()
query = "SELECT * FROM all_concert_data_seetgeek"
cur.execute(query)

column_names = ['id', 'announce_date', 'created_at', 'date_tbd', 'datetime_local', 'datetime_tbd',
                'datetime_utc', 'general_admission', 'score','short_title','stats.average_price',
                 'stats.highest_price','stats.listing_count','stats.lowest_price', 
                'stats.lowest_price_good_deals','time_tbd','title','type','url','venue.address',
                'venue.city','venue.country','venue.display_location','venue.extended_address',
                'venue.id','venue.location.lat','venue.location.lon','venue.name',
                'venue.postal_code','venue.score','venue.slug', 'venue.state', 
                'venue.timezone','visible_until_utc','artist_name','artist_id','artist_genre']

pd.DataFrame(cur.fetchall(), columns=column_names).set_index('id')

,announce_date,created_at,date_tbd,datetime_local,datetime_tbd,datetime_utc,general_admission,score,short_title,stats.average_price,...,venue.name,venue.postal_code,venue.score,venue.slug,venue.state,venue.timezone,visible_until_utc,artist_name,artist_id,artist_genre
id,,,,,,,,,,,,,,,,,,,,,
2948301,2015-11-30T00:00:00,2015-11-30T00:00:00,0,2016-05-24T20:00:00,0,2016-05-24T18:00:00,None,0.767775,Coldplay with Alessia Cara and Reef and Lianne...,NaN,...,Stade Charles Ehrmann,6000.0,0.000000,stade-charles-ehrmann,None,Europe/Paris,2016-05-24T22:00:00,Coldplay,32,alternative
2955353,2015-12-05T00:00:00,2015-12-05T00:00:00,0,2016-05-26T21:00:00,0,2016-05-26T19:00:00,None,0.767775,Coldplay with Alessia Cara and Reef and Lianne...,NaN,...,Estadi Olimpic Lluis Companys,8038.0,0.000000,estadi-olimpic-lluis-companys,None,Europe/Madrid,2016-05-26T23:00:00,Coldplay,32,alternative
2951454,2015-12-03T00:00:00,2015-12-03T00:00:00,0,2016-05-27T19:00:00,0,2016-05-27T17:00:00,None,0.767775,Coldplay with Alessia Cara and Reef and Lianne...,NaN,...,Estadi Olimpic Lluis Companys,8038.0,0.000000,estadi-olimpic-lluis-companys,None,Europe/Madrid,2016-05-27T21:00:00,Coldplay,32,alternative
2948351,2015-11-30T00:00:00,2015-11-30T00:00:00,0,2016-06-01T18:00:00,0,2016-06-01T16:00:00,None,0.767775,Coldplay with Platinum,NaN,...,Veltins Arena,45891.0,0.000000,veltins-arena,North Rhine-westphal,Europe/Berlin,2016-06-01T20:00:00,Coldplay,32,alternative
2939818,2015-11-22T00:00:00,2015-11-22T00:00:00,0,2016-06-04T16:00:00,0,2016-06-04T15:00:00,None,0.767775,Coldplay with Alessia Cara and Reef and Lianne...,NaN,...,City of Manchester Stadium,M11 3FF,0.000000,city-of-manchester-stadium,Man,Europe/London,2016-06-04T19:00:00,Coldplay,32,alternative
2947368,2015-11-28T00:00:00,2015-11-28T00:00:00,0,2016-06-05T16:00:00,0,2016-06-05T15:00:00,None,0.737119,Coldplay with Alessia Cara and Reef and Lianne...,314.0,...,Etihad Stadium,M11 3FF,0.751505,etihad-stadium-2,Lancashire,Europe/London,2016-06-05T19:00:00,Coldplay,32,alternative
2943448,2015-11-25T00:00:00,2015-11-25T00:00:00,0,2016-06-07T16:00:00,0,2016-06-07T15:00:00,None,0.771408,Coldplay with Alessia Cara and Reef and Lianne...,NaN,...,Hampden Park National Stadium,G42 9BA,0.731718,hampden-park-national-stadium,Glasgow City,Europe/London,2016-06-07T19:00:00,Coldplay,32,alternative
2948330,2015-11-30T00:00:00,2015-11-30T00:00:00,0,2016-06-11T19:00:00,0,2016-06-11T17:00:00,None,0.767784,Coldplay,NaN,...,Letzigrund Stadion,8004.0,0.316511,letzigrund-stadion,ZH,Europe/Zurich,2016-06-11T21:00:00,Coldplay,32,alternative
3219699,2016-04-10T00:00:00,2016-04-10T00:00:00,0,2016-06-12T17:30:00,0,2016-06-12T15:30:00,None,0.699434,Lianne La Havas with Coldplay,NaN,...,Letzigrund Stadion,8004.0,0.316511,letzigrund-stadion,ZH,Europe/Zurich,2016-06-12T19:30:00,Coldplay,32,alternative
2948974,2015-12-02T00:00:00,2015-12-02T00:00:00,0,2016-06-12T19:00:00,0,2016-06-12T17:00:00,None,0.767784,Coldplay,NaN,...,Letzigrund Stadion,8004.0,0.316511,letzigrund-stadion,ZH,Europe/Zurich,2016-06-12T21:00:00,Coldplay,32,alternative
2960342,2015-12-08T00:00:00,2015-12-08T00:00:00,0,2016-06-15T16:00:00,0,2016-06-15T15:00:00,None,0.781699,Coldplay with Alessia Cara and Lianne La Havas,NaN,...,Wembley Stadium,HA9 0WS,0.829759,wembley-stadium,London,Europe/London,2016-06-15T19:00:00,Coldplay,32,alternative
3025386,2016-01-14T00:00:00,2016-01-14T00:00:00,0,2016-06-15T19:00:00,0,2016-06-15T18:00:00,None,0.781699,Coldplay,NaN,...,Wembley Stadium,HA9 0WS,0.829759,wembley-stadium,London,Europe/London,2016-06-15T22:00:00,Coldplay,32,alternative
2939963,2015-11-22T00:00:00,2015-11-22T00:00:00,0,2016-06-16T16:00:00,0,2016-06-16T15:00:00,None,0.746449,Coldplay with Alessia Cara and Lianne La Havas,502.0,...,Wembley Stadium,HA9 0WS,0.829759,wembley-stadium,London,Europe/London,2016-06-16T19:00:00,Coldplay,32,alternative
2939962,2015-11-22T00:00:00,2015-11-22T00:00:00,0,2016-06-18T16:00:00,0,2016-06-18T15:00:00,None,0.746389,Coldplay with Alessia Cara and Reef and Lianne...,532.0,...,Wembley Stadium,HA9 0WS,0.829759,wembley-stadium,London,Europe/London,2016-06-18T19:00:00,Coldplay,32,alternative
2947460,2015-11-28T00:00:00,2015-11-28T00:00:00,0,2016-06-19T16:00:00,0,2016-06-19T15:00:00,None,0.746646,Coldplay with Alessia Cara and Reef and Lianne...,278.0,...,Wembley Stadium,HA9 0WS,0.829759,wembley-stadium,London,Europe/London,2016-06-19T19:00:00,Coldplay,32,alternative
2944252,2015-11-26T00:00:00,2015-11-26T00:00:00,0,2016-06-23T19:00:00,0,2016-06-23T17:00:00,None,0.767823,Coldplay,NaN,...,Amsterdam Arena,1101 AX,0.432544,amsterdam-arena,Nhl,Europe/Amsterdam,2016-06-23T21:00:00,Coldplay,32,alternative
2950894,2015-12-03T00:00:00,2015-12-03T00:00:00,0,2016-06-24T18:45:00,0,2016-06-24T16:45:00,None,0.767823,Coldplay,NaN,...,Amsterdam Arena,1101 AX,0.432544,amsterdam-arena,Nhl,Europe/Amsterdam,2016-06-24T20:45:00,Coldplay,32,alternative
2944332,2015-11-26T00:00:00,2015-11-26T00:00:00,0,2016-06-29T18:00:00,0,2016-06-29T16:00:00,None,0.778761,Coldplay with Platinum,NaN,...,Olympiastadion Berlin,14053.0,0.811830,olympiastadion-berlin,BE,Europe/Berlin,2016-06-29T20:00:00,Coldplay,32,alternative
2948352,2015-11-30T00:00:00,2015-11-30T00:00:00,0,2016-07-01T03:30:00,0,2016-07-01T01:30:00,None,0.767775,Coldplay with Platinum,NaN,...,Volksparkstadion,,0.000000,volksparkstadion,None,Europe/Berlin,2016-07-01T22:00:00,Coldplay,32,alternative
2960459,2015-12-08T00:00:00,2015-12-08T00:00:00,0,2016-07-03T19:00:00,0,2016-07-03T17:00:00,None,0.767775,Coldplay,NaN,...,Friends Arena,16956.0,0.000000,friends-arena,AB,Europe/Stockholm,2016-07-03T21:00:00,Coldplay,32,alternative
2973861,2015-12-17T00:00:00,2015-12-17T00:00:00,0,2016-07-05T20:00:00,0,2016-07-05T18:00:00,None,0.742380,Coldplay with Lianne La Havas,NaN,...,Telia Parken,,0.000000,telia-parken,None,Europe/Copenhagen,2016-07-05T22:00:00,Coldplay,32,alternative
2973806,2015-12-17T00:00:00,2015-12-17T00:00:00,0,2016-07-06T03:30:00,0,2016-07-06T01:30:00,None,0.742380,Coldplay with Lianne La Havas,NaN,...,Telia Parken,,0.000000,telia-parken,None,Europe/Copenhagen,2016-07-06T22:00:00,Coldplay,32,alternative
3067939,2016-01-30T00:00:00,2016-01-30T00:00:00,0,2016-07-16T20:00:00,0,2016-07-17T00:00:00,None,0.841260,Coldplay with Foxes,317.5,...,MetLife Stadium,7073.0,0.961551,metlife-stadium,NJ,America/New_York,2016-07-17T04:00:00,Coldplay,32,alternative
3078109,2016-02-03T00:00:00,2016-02-03T00:00:00,0,2016-07-17T20:00:00,0,2016-07-18T00:00:00,None,0.828866,Coldplay with Foxes,305.0,...,MetLife Stadium,7073.0,0.961551,metlife-stadium,NJ,America/New_York,2016-07-18T04:00:00,Coldplay,32,alternative
3211899,2016-04-09T00:00:00,2016-04-09T00:00:00,0,2016-07-21T19:00:00,0,2016-07-22T00:00:00,None,0.828958,Coldplay with Alessia Cara,179.0,...,Scottrade Center,63103.0,0.794522,scottrade-center,MO,America/Chicago,2016-07-22T04:00:00,Coldplay,32,alternative
3067931,2016-01-30T00:00:00,2016-01-30T00:00:00,0,2016-07-23T20:00:00,0,2016-07-24T01:00:00,None,0.833030,Coldplay with Foxes,350.0,...,Soldier Field,60605.0,0.955779,soldier-field,IL,America/Chicago,2016-07-24T05:00:00,Coldplay,32,alternative
3078108,2016-02-03T00:00:00,2016-02-03T00:00:00,0,2016-07-24T20:00:00,0,2016-07-25T01:00:00,None,0.844012,Coldplay with Foxes,241.0,...,Soldier Field,60605.0,0.955779,soldier-field,IL,America/Chicago,2016-07-25T05:00:00,Coldplay,32,alternative
3211429,2016-04-09T00:00:00,2016-04-09T00:00:00,0,2016-07-27T19:00:00,0,2016-07-27T23:00:00,None,0.812529,Coldplay with Alessia Cara,238.0,...,KFC Yum! Center,40202.0,0.761433,kfc-yum-center,KY,America/New_York,2016-07-28T03:00:00,Coldplay,32,alternative
3211876,2016-04-09T00:00:00,2016-04-09T00:00:00,0,2016-07-28T19:00:00,0,2016-07-28T23:00:00,None,0.817585,Coldplay with Alessia Cara,257.0,...,Nationwide Arena,43215.0,0.741552,nationwide-arena,OH,America/New_York,2016-07-29T03:00:00,Coldplay,32,alternative
3068289,2016-01-30T00:00:00,2016-01-30T00:00:00,0,2016-07-30T20:00:00,0,2016-07-31T00:00:00,None,0.843675,Coldplay with Alessia Cara,247.0,...,Gillette Stadium,2035.0,0.904805,gillette-stadium,MA,America/New_York,2016-07-31T04:00:00,Coldplay,32,alternative
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3100379,2016-02-14T00:00:00,2016-02-14T00:00:00,0,2016-09-02T03:30:00,0,2016-09-02T01:30:00,None,0.000000,Todd Terry,NaN,...,Space Ibiza,07817,0.000000,space-ibiza,07,Europe/Madrid,2016-09-02T22:00:00,Todd Terry,97693,electronic
3100378,2016-02-14T00:00:00,2016-02-14T00:00:00,0,2016-09-23T03:30:00,0,2016-09-23T01:30:00,None,0.000000,Todd Terry,NaN,...,Space Ibiza,07817,0.000000,space-ibiza,07,Europe/Madrid,2016-09-23T22:00:00,Todd Terry,97693,electronic
3247855,2016-04-20T00:00:00,2016-04-20T00:00:00,0,2016-05-06T22:00:00,0,2016-05-07T02:00:00,1,0.405864,Michael Woods with Dean Mason (18+),36.0,...,Space Ibiza New York,10019,0.440001,space-ibiza-new-york,NY,America/New_York,2016-05-07T06:00:00,Dean Mason,100337,electronic
3244514,2016-04-19T00:00:00,2016-04-19T00:00:00,0,2016-06-11T12:00:00,0,2016-06-11T19:00:00,None,0.000000,Kristina Sky with Dean Mason,NaN,...,Windmill Cove,95206,0.000000,windmill-cove,CA,America/Los_Angeles,2016-06-11T23:00:00,Dean Mason,100337,electronic
3209732,2016-04-09T00:00:00,2016-04-09T00:00:00,0,2016-05-29T22:00:00,0,2016-05-30T03:00:00,1,0.418111,DJ Questlove with Get Cryphy and Brother Ali (...,37.0,...,First Avenue,55403,0.536802,first-avenue,MN,America/Chicago,2016-05-30T07:00:00,Get Cryphy,106392,electronic
3226340,2016-04-12T00:00:00,2016-04-12T00:00:00,0,2016-06-17T20:00:00,0,2016-06-17T18:00:00,None,0.000000,DJ Wire with Sister Bliss and Example,NaN,...,Ibiza Rocks Hotel,07820,0.000000,ibiza-rocks-hotel-1,Balearic Islands,Europe/Madrid,2016-06-17T22:00:00,Sister Bliss,121403,electronic
3186012,2016-03-28T00:00:00,2016-03-28T00:00:00,0,2016-06-04T22:00:00,0,2016-06-05T02:00:00,1,0.459391,Girls In Wonderland,NaN,...,House of Blues Orlando,32830,0.544915,house-of-blues-orlando,FL,America/New_York,2016-06-05T06:00:00,Girls In Wonderland,142288,electronic
3219950,2016-04-10T00:00:00,2016-04-10T00:00:00,0,2016-06-17T21:30:00,0,2016-06-18T04:30:00,None,0.265212,Laurel Halo with Loscil,NaN,...,Alix Goolden Performance Hall,V8V 3P4,0.359898,alix-goolden-performance-hall,BC,America/Vancouver,2016-06-18T08:30:00,Laurel Halo,19616,electronic
3259645,2016-04-28T00:00:00,2016-04-28T00:00:00,0,2016-05-29T21:30:00,0,2016-05-30T04:30:00,1,0.422077,Audiofly with Behrouz,NaN,...,Public Works,94103,0.492428,public-works,CA,America/Los_Angeles,2016-05-30T08:30:00,Behrouz,20738,electronic
3140863,2016-03-08T00:00:00,2016-03-08T00:00:00,0,2016-06-24T22:00:00,0,2016-06-25T01:00:00,None,0.000000,Behrouz,NaN,...,La Terrazza,,0.000000,la-terrazza-3,None,America/Sao_Paulo,2016-06-25T05:00:00,Behrouz,20738,electronic
3204263,2016-04-06T00:00:00,2016-04-06T00:00:00,0,2016-05-14T20:00:00,0,2016-05-15T03:00:00,1,0.449721,Fred Falke with Kristina Sky,NaN,...,The Regent Theater,90013,0.534449,the-regent-theater,CA,America/Los_Angeles,2016-05-15T07:00:00,Kristina Sky,22145,electronic
3244514,2016-04-19T00:00:00,2016-04-19T00:00:00,0,2016-06-11T12:00:00,0,2016-06-11T19:00:00,None,0.000000,Kristina Sky with Dean Mason,NaN,...,Windmill Cove,95206,0.000000,windmill-cove,CA,America/Los_Angeles,2016-06-11T23:00:00,Kristina Sky,22145,electronic
3228742,2016-04-12T00:00:00,2016-04-12T00:00:00,0,2016-05-06T19:00:00,0,2016-05-06T15:00:00,None,0.000000,Art Department,NaN,...,Blue Marlin Dubai,136051,0.000000,blue-marlin-dubai,None,Asia/Dubai,2016-05-06T19:00:00,Art Department,296968,electronic
3023370,2016-01-14T00:00:00,2016-01-14T00:00:00,0,2016-05-08T19:00:00,0,2016-05-08T17:00:00,None,0.000000,Art Department,NaN,...,Barcelona,08014,0.000000,barcelona-9,None,Europe/Madrid,2016-05-08T21:00:00,Art Department,296968,electronic
3249946,2016-04-22T00:00:00,2016-04-22T00:00:00,0,2016-05-27T22:00:00,0,2016-05-28T02:00:00,1,0.397563,Art Department,25.0,...,New City Gas,H3C 1S4,0.536073,new-city-gas,QC,America/Toronto,2016-05-28T06:00:00,Art Department,296968,electronic
3124892,2016-02-29T00:00:00,2016-02-29T00:00:00,0,2016-07-29T03:30:00,0,2016-07-29T07:30:00,1,0.599883,"Osheaga Festival (3 Day Pass) with Lucius, Ban...",465.0,...,Parc Jean-Drapeau,H3C 1A9,0.655348,parc-jean-drapeau,QC,America/Toronto,2016-07-30T04:00:00,The Olsens,312290,electronic
3248091,2016-04-21T00:00:00,2016-04-21T00:00:00,0,2016-05-07T14:00:00,0,2016-05-07T21:00:00,1,0.000000,Cut Snake,NaN,...,El Camino,92101,0.000000,el-camino-1,CA,America/Los_Angeles,2016-05-08T01:00:00,Cut Snake,331308,electronic
3252001,2016-04-23T00:00:00,2016-04-23T00:00:00,0,2016-07-26T19:30:00,0,2016-07-26T18:30:00,None,0.000000,Leo Kalyan,NaN,...,The Pickle Factory,E2 9DU,0.000000,the-pickle-factory,None,Europe/London,2016-07-26T22:30:00,Leo Kalyan,364892,electronic
3095084,2016-02-11T00:00:00,2016-02-11T00:00:00,0,2016-06-16T16:00:00,0,2016-06-16T22:00:00,None,0.446469,Sonic Bloom Music Festival (4 Day Pass) with E...,260.0,...,Hummingbird Ranch,81069,0.542572,hummingbird-ranch,CO,America/Denver,2016-06-17T02:00:00,Evanoff,363630,electronic
3266140,2016-05-01T00:00:00,2016-05-01T00:00:00,0,2016-05-16T19:30:00,0,2016-05-16T18:30:00,None,NaN,Rinocerose,NaN,...,Water Rats,WC1X 8BZ,0.000000,water-rats,London,Europe/London,2016-05-16T22:30:00,Rinocerose,245667,electronic
3235417,2016-04-15T00:00:00,2016-04-15T00:00:00,0,2016-05-19T23:30:00,0,2016-05-20T03:30:00,1,0.000000,Telefon Tel Aviv,NaN,...,Knitting Factory,11211,0.000000,knitting-factory-2,NY,America/New_York,2016-05-20T07:30:00,Telefon Tel Aviv,247593,electronic
3038537,2016-01-16T00:00:00,2016-01-16T00:00:00,0,2016-05-23T21:00:00,0,2016-05-24T04:00:00,1,0.479987,Moderat with Telefon Tel Aviv,72.0,...,Vogue Theatre,V6Z 1L2,0.542598,vogue-theatre,BC,America/Vancouver,2016-05-24T08:00:00,Telefon Tel Aviv,247593,electronic
3038504,2016-01-16T00:00:00,2016-01-16T00:00:00,0,2016-05-24T20:30:00,0,2016-05-25T03:30:00,1,0.463509,Moderat with Telefon Tel Aviv,68.0,...,The Showbox,98101,0.525825,the-showbox,WA,America/Los_Angeles,2016-05-25T07:30:00,Telefon Tel Aviv,247593,electronic
3038381,2016-01-16T00:00:00,2016-01-16T00:00:00,0,2016-05-26T21:00:00,0,2016-05-27T04:00:00,None,0.488885,Moderat with Telefon Tel Aviv,82.0,...,Fonda Theatre,90028,0.573153,fonda-theatre-1,CA,America/Los_Angeles,2016-05-27T08:00:00,Telefon Tel Aviv,247593,electronic
3262450,2016-04-29T00:00:00,2016-04-29T00:00:00,0,2016-07-23T21:00:00,0,2016-07-24T02:00:00,1,0.403073,Telefon Tel Aviv,NaN,...,The Parish,78701,0.483953,the-parish,TX,America/Chicago,2016-07-24T06:00:00,Telefon Tel Aviv,247593,electronic
3264749,2016-05-01T00:00:00,2016-05-01T00:00:00,0,2016-05-14T03:30:00,0,2016-05-14T01:30:00,None,0.000000,Dmx Krew with Matthew Herbert,NaN,...,The Loft,,0.000000,the-loft-9,None,Europe/Madrid,2016-05-14T22:00:00,Dmx Krew,49997,electronic
3252660,2016-04-23T00:00:00,2016-04-23T00:00:00,0,2016-06-16T20:30:00,0,2016-06-17T03:30:00,1,0.418701,Sepalcure with Beshken,NaN,...,Echoplex,90026,0.500870,echoplex,CA,America/Los_Angeles,2016-06-17T07:30:00,Sepalcure,31350,electronic
3233696,2016-04-15T00:00:00,2016-04-15T00:00:00,0,2016-05-14T22:00:00,0,2016-05-15T02:00:00,None,0.000000,Kode9,NaN,...,Trans-Pecos,11385,0.000000,trans-pecos,NY,America/New_York,2016-05-15T06:00:00,Kode9,23915,electronic
3264537,2016-05-01T00:00:00,2016-05-01T00:00:00,0,2016-05-22T21:00:00,0,2016-05-23T04:00:00,None,0.000000,Kode9 with 6blocc,NaN,...,Union Nightclub,90019,0.000000,union-nightclub,CA,America/Los_Angeles,2016-05-23T08:00:00,Kode9,23915,electronic
3245727,2016-04-20T00:00:00,2016-04-20T00:00:00,0,2016-05-23T20:00:00,0,2016-05-24T03:00:00,1,0.372885,Kode9 with Liquid Courage Karaoke,NaN,...,The Crocodile,98121,0.464799,the-crocodile,WA,America/Los_Angeles,2016-05-24T07:00:00,Kode9,23915,electronic

# Collect All Data

Now I am going to collect concert data for all genres.

In [21]:
for i in range(all_seetgeek_genres.shape[0]):
    print all_seetgeek_genres['genres'][i]
    get_concert_by_artist(all_seetgeek_genres['genres'][i])

skip! edm already done!
alternative
Searching #0 out of 5000
Searching #50 out of 5000
Searching #100 out of 5000
Searching #150 out of 5000
Searching #200 out of 5000
Searching #250 out of 5000
Searching #300 out of 5000
Searching #350 out of 5000
Searching #400 out of 5000
Searching #450 out of 5000
Searching #500 out of 5000
Searching #550 out of 5000
Searching #600 out of 5000
Searching #650 out of 5000
Searching #700 out of 5000
Searching #750 out of 5000
Searching #800 out of 5000
Searching #850 out of 5000
Searching #900 out of 5000
Searching #950 out of 5000
Searching #1000 out of 5000
Searching #1050 out of 5000
Searching #1100 out of 5000
Searching #1150 out of 5000
Searching #1200 out of 5000
Searching #1250 out of 5000
Searching #1300 out of 5000
Searching #1350 out of 5000
Searching #1400 out of 5000
Searching #1450 out of 5000
Searching #1500 out of 5000
Searching #1550 out of 5000
Searching #1600 out of 5000
Searching #1650 out of 5000
Searching #1700 out of 5000
Searching #1750 out of 5000
Searching #1800 out of 5000
Searching #1850 out of 5000
Searching #1900 out of 5000
Searching #1950 out of 5000
Searching #2000 out of 5000
Searching #2050 out of 5000
Searching #2100 out of 5000
Searching #2150 out of 5000
Searching #2200 out of 5000
Searching #2250 out of 5000
Searching #2300 out of 5000
Searching #2350 out of 5000
Searching #2400 out of 5000
Searching #2450 out of 5000
Searching #2500 out of 5000
Searching #2550 out of 5000
Searching #2600 out of 5000
Searching #2650 out of 5000
Searching #2700 out of 5000
Searching #2750 out of 5000
Searching #2800 out of 5000
Searching #2850 out of 5000
Searching #2900 out of 5000
Searching #2950 out of 5000
Searching #3000 out of 5000
Searching #3050 out of 5000
Searching #3100 out of 5000
Searching #3150 out of 5000
Searching #3200 out of 5000
Searching #3250 out of 5000
Searching #3300 out of 5000
Searching #3350 out of 5000
Searching #3400 out of 5000
Searching #3450 out of 5000
Searching #3500 out of 5000
Searching #3550 out of 5000
Searching #3600 out of 5000
Searching #3650 out of 5000
Searching #3700 out of 5000
Searching #3750 out of 5000
Searching #3800 out of 5000
Searching #3850 out of 5000
Searching #3900 out of 5000
Searching #3950 out of 5000
Searching #4000 out of 5000
Searching #4050 out of 5000
Searching #4100 out of 5000
Searching #4150 out of 5000
Searching #4200 out of 5000
Searching #4250 out of 5000
Searching #4300 out of 5000
Searching #4350 out of 5000
Searching #4400 out of 5000
Searching #4450 out of 5000
Searching #4500 out of 5000
Searching #4550 out of 5000
Searching #4600 out of 5000
Searching #4650 out of 5000
Searching #4700 out of 5000
Searching #4750 out of 5000
Searching #4800 out of 5000
Searching #4850 out of 5000
Searching #4900 out of 5000
Searching #4950 out of 5000
Making the database for alternative
Making the de-duplicated database!
rock
Searching #0 out of 5000
Searching #50 out of 5000
Searching #100 out of 5000
Searching #150 out of 5000
Searching #200 out of 5000
Searching #250 out of 5000
Searching #300 out of 5000
Searching #350 out of 5000
Searching #400 out of 5000
Searching #450 out of 5000
Searching #500 out of 5000
Searching #550 out of 5000
Searching #600 out of 5000
Searching #650 out of 5000
Searching #700 out of 5000
Searching #750 out of 5000
Searching #800 out of 5000
Searching #850 out of 5000
Searching #900 out of 5000
Searching #950 out of 5000
Searching #1000 out of 5000
Searching #1050 out of 5000
Searching #1100 out of 5000
Searching #1150 out of 5000
Searching #1200 out of 5000
Searching #1250 out of 5000
Searching #1300 out of 5000
Searching #1350 out of 5000
Searching #1400 out of 5000
Searching #1450 out of 5000
Searching #1500 out of 5000
Searching #1550 out of 5000
Searching #1600 out of 5000
Searching #1650 out of 5000
Searching #1700 out of 5000
Searching #1750 out of 5000
Searching #1800 out of 5000
Searching #1850 out of 5000
Searching #1900 out of 5000
Searching #1950 out of 5000
Searching #2000 out of 5000
Searching #2050 out of 5000
Searching #2100 out of 5000
Searching #2150 out of 5000
Searching #2200 out of 5000
Searching #2250 out of 5000
Searching #2300 out of 5000
Searching #2350 out of 5000
Searching #2400 out of 5000
Searching #2450 out of 5000
Searching #2500 out of 5000
Searching #2550 out of 5000
Searching #2600 out of 5000
Searching #2650 out of 5000
Searching #2700 out of 5000
Searching #2750 out of 5000
Searching #2800 out of 5000
Searching #2850 out of 5000
Searching #2900 out of 5000
Searching #2950 out of 5000
Searching #3000 out of 5000
Searching #3050 out of 5000
Searching #3100 out of 5000
Searching #3150 out of 5000
Searching #3200 out of 5000
Searching #3250 out of 5000
Searching #3300 out of 5000
Searching #3350 out of 5000
Searching #3400 out of 5000
Searching #3450 out of 5000
Searching #3500 out of 5000
Searching #3550 out of 5000
Searching #3600 out of 5000
Searching #3650 out of 5000
Searching #3700 out of 5000
Searching #3750 out of 5000
Searching #3800 out of 5000
Searching #3850 out of 5000
Searching #3900 out of 5000
Searching #3950 out of 5000
Searching #4000 out of 5000
Searching #4050 out of 5000
Searching #4100 out of 5000
Searching #4150 out of 5000
Searching #4200 out of 5000
Searching #4250 out of 5000
Searching #4300 out of 5000
Searching #4350 out of 5000
Searching #4400 out of 5000
Searching #4450 out of 5000
Searching #4500 out of 5000
Searching #4550 out of 5000
Searching #4600 out of 5000
Searching #4650 out of 5000
Searching #4700 out of 5000
Searching #4750 out of 5000
Searching #4800 out of 5000
Searching #4850 out of 5000
Searching #4900 out of 5000
Searching #4950 out of 5000
Making the database for rock
Making the de-duplicated database!
country
Searching #0 out of 2393
Searching #50 out of 2393
Searching #100 out of 2393
Searching #150 out of 2393
Searching #200 out of 2393
Searching #250 out of 2393
Searching #300 out of 2393
Searching #350 out of 2393
Searching #400 out of 2393
Searching #450 out of 2393
Searching #500 out of 2393
Searching #550 out of 2393
Searching #600 out of 2393
Searching #650 out of 2393
Searching #700 out of 2393
Searching #750 out of 2393
Searching #800 out of 2393
Searching #850 out of 2393
Searching #900 out of 2393
Searching #950 out of 2393
Searching #1000 out of 2393
Searching #1050 out of 2393
Searching #1100 out of 2393
Searching #1150 out of 2393
Searching #1200 out of 2393
Searching #1250 out of 2393
Searching #1300 out of 2393
Searching #1350 out of 2393
Searching #1400 out of 2393
Searching #1450 out of 2393
Searching #1500 out of 2393
Searching #1550 out of 2393
Searching #1600 out of 2393
Searching #1650 out of 2393
Searching #1700 out of 2393
Searching #1750 out of 2393
Searching #1800 out of 2393
Searching #1850 out of 2393
Searching #1900 out of 2393
Searching #1950 out of 2393
Searching #2000 out of 2393
Searching #2050 out of 2393
Searching #2100 out of 2393
Searching #2150 out of 2393
Searching #2200 out of 2393
Searching #2250 out of 2393
Searching #2300 out of 2393
Searching #2350 out of 2393
Making the database for country
Making the de-duplicated database!
hip-hop
Searching #0 out of 2245
Searching #50 out of 2245
Searching #100 out of 2245
Searching #150 out of 2245
Searching #200 out of 2245
Searching #250 out of 2245
Searching #300 out of 2245
Searching #350 out of 2245
Searching #400 out of 2245
Searching #450 out of 2245
Searching #500 out of 2245
Searching #550 out of 2245
Searching #600 out of 2245
Searching #650 out of 2245
Searching #700 out of 2245
Searching #750 out of 2245
Searching #800 out of 2245
Searching #850 out of 2245
Searching #900 out of 2245
Searching #950 out of 2245
Searching #1000 out of 2245
Searching #1050 out of 2245
Searching #1100 out of 2245
Searching #1150 out of 2245
Searching #1200 out of 2245
Searching #1250 out of 2245
Searching #1300 out of 2245
Searching #1350 out of 2245
Searching #1400 out of 2245
Searching #1450 out of 2245
Searching #1500 out of 2245
Searching #1550 out of 2245
Searching #1600 out of 2245
Searching #1650 out of 2245
Searching #1700 out of 2245
Searching #1750 out of 2245
Searching #1800 out of 2245
Searching #1850 out of 2245
Searching #1900 out of 2245
Searching #1950 out of 2245
Searching #2000 out of 2245
Searching #2050 out of 2245
Searching #2100 out of 2245
Searching #2150 out of 2245
Searching #2200 out of 2245
Making the database for hip-hop
Making the de-duplicated database!
indie
Searching #0 out of 589
Searching #50 out of 589
Searching #100 out of 589
Searching #150 out of 589
Searching #200 out of 589
Searching #250 out of 589
Searching #300 out of 589
Searching #350 out of 589
Searching #400 out of 589
Searching #450 out of 589
Searching #500 out of 589
Searching #550 out of 589
Making the database for indie
Making the de-duplicated database!
pop
Searching #0 out of 5000
Searching #50 out of 5000
Searching #100 out of 5000
Searching #150 out of 5000
Searching #200 out of 5000
Searching #250 out of 5000
Searching #300 out of 5000
Searching #350 out of 5000
Searching #400 out of 5000
Searching #450 out of 5000
Searching #500 out of 5000
Searching #550 out of 5000
Searching #600 out of 5000
Searching #650 out of 5000
Searching #700 out of 5000
Searching #750 out of 5000
Searching #800 out of 5000
Searching #850 out of 5000
Searching #900 out of 5000
Searching #950 out of 5000
Searching #1000 out of 5000
Searching #1050 out of 5000
Searching #1100 out of 5000
Searching #1150 out of 5000
Searching #1200 out of 5000
Searching #1250 out of 5000
Searching #1300 out of 5000
Searching #1350 out of 5000
Searching #1400 out of 5000
Searching #1450 out of 5000
Searching #1500 out of 5000
Searching #1550 out of 5000
Searching #1600 out of 5000
Searching #1650 out of 5000
Searching #1700 out of 5000
Searching #1750 out of 5000
Searching #1800 out of 5000
Searching #1850 out of 5000
Searching #1900 out of 5000
Searching #1950 out of 5000
Searching #2000 out of 5000
Searching #2050 out of 5000
Searching #2100 out of 5000
Searching #2150 out of 5000
Searching #2200 out of 5000
Searching #2250 out of 5000
Searching #2300 out of 5000
Searching #2350 out of 5000
Searching #2400 out of 5000
Searching #2450 out of 5000
Searching #2500 out of 5000
Searching #2550 out of 5000
Searching #2600 out of 5000
Searching #2650 out of 5000
Searching #2700 out of 5000
Searching #2750 out of 5000
Searching #2800 out of 5000
Searching #2850 out of 5000
Searching #2900 out of 5000
Searching #2950 out of 5000
Searching #3000 out of 5000
Searching #3050 out of 5000
Searching #3100 out of 5000
Searching #3150 out of 5000
Searching #3200 out of 5000
Searching #3250 out of 5000
Searching #3300 out of 5000
Searching #3350 out of 5000
Searching #3400 out of 5000
Searching #3450 out of 5000
Searching #3500 out of 5000
Searching #3550 out of 5000
Searching #3600 out of 5000
Searching #3650 out of 5000
Searching #3700 out of 5000
Searching #3750 out of 5000
Searching #3800 out of 5000
Searching #3850 out of 5000
Searching #3900 out of 5000
Searching #3950 out of 5000
Searching #4000 out of 5000
Searching #4050 out of 5000
Searching #4100 out of 5000
Searching #4150 out of 5000
Searching #4200 out of 5000
Searching #4250 out of 5000
Searching #4300 out of 5000
Searching #4350 out of 5000
Searching #4400 out of 5000
Searching #4450 out of 5000
Searching #4500 out of 5000
Searching #4550 out of 5000
Searching #4600 out of 5000
Searching #4650 out of 5000
Searching #4700 out of 5000
Searching #4750 out of 5000
Searching #4800 out of 5000
Searching #4850 out of 5000
Searching #4900 out of 5000
Searching #4950 out of 5000
Making the database for pop
Making the de-duplicated database!
rnb
Searching #0 out of 957
Searching #50 out of 957
Searching #100 out of 957
Searching #150 out of 957
Searching #200 out of 957
Searching #250 out of 957
Searching #300 out of 957
Searching #350 out of 957
Searching #400 out of 957
Searching #450 out of 957
Searching #500 out of 957
Searching #550 out of 957
Searching #600 out of 957
Searching #650 out of 957
Searching #700 out of 957
Searching #750 out of 957
Searching #800 out of 957
Searching #850 out of 957
Searching #900 out of 957
Searching #950 out of 957
Making the database for rnb
Making the de-duplicated database!
blues
Searching #0 out of 2275
Searching #50 out of 2275
Searching #100 out of 2275
Searching #150 out of 2275
Searching #200 out of 2275
Searching #250 out of 2275
Searching #300 out of 2275
Searching #350 out of 2275
Searching #400 out of 2275
Searching #450 out of 2275
Searching #500 out of 2275
Searching #550 out of 2275
Searching #600 out of 2275
Searching #650 out of 2275
Searching #700 out of 2275
Searching #750 out of 2275
Searching #800 out of 2275
Searching #850 out of 2275
Searching #900 out of 2275
Searching #950 out of 2275
Searching #1000 out of 2275
Searching #1050 out of 2275
Searching #1100 out of 2275
Searching #1150 out of 2275
Searching #1200 out of 2275
Searching #1250 out of 2275
Searching #1300 out of 2275
Searching #1350 out of 2275
Searching #1400 out of 2275
Searching #1450 out of 2275
Searching #1500 out of 2275
Searching #1550 out of 2275
Searching #1600 out of 2275
Searching #1650 out of 2275
Searching #1700 out of 2275
Searching #1750 out of 2275
Searching #1800 out of 2275
Searching #1850 out of 2275
Searching #1900 out of 2275
Searching #1950 out of 2275
Searching #2000 out of 2275
Searching #2050 out of 2275
Searching #2100 out of 2275
Searching #2150 out of 2275
Searching #2200 out of 2275
Searching #2250 out of 2275
Making the database for blues
Making the de-duplicated database!
classical
Searching #0 out of 228
Searching #50 out of 228
Searching #100 out of 228
Searching #150 out of 228
Searching #200 out of 228
Making the database for classical
Making the de-duplicated database!
folk
Searching #0 out of 2527
Searching #50 out of 2527
Searching #100 out of 2527
Searching #150 out of 2527
Searching #200 out of 2527
Searching #250 out of 2527
Searching #300 out of 2527
Searching #350 out of 2527
Searching #400 out of 2527
Searching #450 out of 2527
Searching #500 out of 2527
Searching #550 out of 2527
Searching #600 out of 2527
Searching #650 out of 2527
Searching #700 out of 2527
Searching #750 out of 2527
Searching #800 out of 2527
Searching #850 out of 2527
Searching #900 out of 2527
Searching #950 out of 2527
Searching #1000 out of 2527
Searching #1050 out of 2527
Searching #1100 out of 2527
Searching #1150 out of 2527
Searching #1200 out of 2527
Searching #1250 out of 2527
Searching #1300 out of 2527
Searching #1350 out of 2527
Searching #1400 out of 2527
Searching #1450 out of 2527
Searching #1500 out of 2527
Searching #1550 out of 2527
Searching #1600 out of 2527
Searching #1650 out of 2527
Searching #1700 out of 2527
Searching #1750 out of 2527
Searching #1800 out of 2527
Searching #1850 out of 2527
Searching #1900 out of 2527
Searching #1950 out of 2527
Searching #2000 out of 2527
Searching #2050 out of 2527
Searching #2100 out of 2527
Searching #2150 out of 2527
Searching #2200 out of 2527
Searching #2250 out of 2527
Searching #2300 out of 2527
Searching #2350 out of 2527
Searching #2400 out of 2527
Searching #2450 out of 2527
Searching #2500 out of 2527
Making the database for folk
Making the de-duplicated database!
jazz
Searching #0 out of 2816
Searching #50 out of 2816
Searching #100 out of 2816
Searching #150 out of 2816
Searching #200 out of 2816
Searching #250 out of 2816
Searching #300 out of 2816
Searching #350 out of 2816
Searching #400 out of 2816
Searching #450 out of 2816
Searching #500 out of 2816
Searching #550 out of 2816
Searching #600 out of 2816
Searching #650 out of 2816
Searching #700 out of 2816
Searching #750 out of 2816
Searching #800 out of 2816
Searching #850 out of 2816
Searching #900 out of 2816
Searching #950 out of 2816
Searching #1000 out of 2816
Searching #1050 out of 2816
Searching #1100 out of 2816
Searching #1150 out of 2816
Searching #1200 out of 2816
Searching #1250 out of 2816
Searching #1300 out of 2816
Searching #1350 out of 2816
Searching #1400 out of 2816
Searching #1450 out of 2816
Searching #1500 out of 2816
Searching #1550 out of 2816
Searching #1600 out of 2816
Searching #1650 out of 2816
Searching #1700 out of 2816
Searching #1750 out of 2816
Searching #1800 out of 2816
Searching #1850 out of 2816
Searching #1900 out of 2816
Searching #1950 out of 2816
Searching #2000 out of 2816
Searching #2050 out of 2816
Searching #2100 out of 2816
Searching #2150 out of 2816
Searching #2200 out of 2816
Searching #2250 out of 2816
Searching #2300 out of 2816
Searching #2350 out of 2816
Searching #2400 out of 2816
Searching #2450 out of 2816
Searching #2500 out of 2816
Searching #2550 out of 2816
Searching #2600 out of 2816
Searching #2650 out of 2816
Searching #2700 out of 2816
Searching #2750 out of 2816
Searching #2800 out of 2816
Making the database for jazz
Making the de-duplicated database!
latin
Searching #0 out of 972
Searching #50 out of 972
Searching #100 out of 972
Searching #150 out of 972
Searching #200 out of 972
Searching #250 out of 972
Searching #300 out of 972
Searching #350 out of 972
Searching #400 out of 972
Searching #450 out of 972
Searching #500 out of 972
Searching #550 out of 972
Searching #600 out of 972
Searching #650 out of 972
Searching #700 out of 972
Searching #750 out of 972
Searching #800 out of 972
Searching #850 out of 972
Searching #900 out of 972
Searching #950 out of 972
Making the database for latin
Making the de-duplicated database!
punk
Searching #0 out of 1023
Searching #50 out of 1023
Searching #100 out of 1023
Searching #150 out of 1023
Searching #200 out of 1023
Searching #250 out of 1023
Searching #300 out of 1023
Searching #350 out of 1023
Searching #400 out of 1023
Searching #450 out of 1023
Searching #500 out of 1023
Searching #550 out of 1023
Searching #600 out of 1023
Searching #650 out of 1023
Searching #700 out of 1023
Searching #750 out of 1023
Searching #800 out of 1023
Searching #850 out of 1023
Searching #900 out of 1023
Searching #950 out of 1023
Searching #1000 out of 1023
Making the database for punk
Making the de-duplicated database!
rap
Searching #0 out of 1695
Searching #50 out of 1695
Searching #100 out of 1695
Searching #150 out of 1695
Searching #200 out of 1695
Searching #250 out of 1695
Searching #300 out of 1695
Searching #350 out of 1695
Searching #400 out of 1695
Searching #450 out of 1695
Searching #500 out of 1695
Searching #550 out of 1695
Searching #600 out of 1695
Searching #650 out of 1695
Searching #700 out of 1695
Searching #750 out of 1695
Searching #800 out of 1695
Searching #850 out of 1695
Searching #900 out of 1695
Searching #950 out of 1695
Searching #1000 out of 1695
Searching #1050 out of 1695
Searching #1100 out of 1695
Searching #1150 out of 1695
Searching #1200 out of 1695
Searching #1250 out of 1695
Searching #1300 out of 1695
Searching #1350 out of 1695
Searching #1400 out of 1695
Searching #1450 out of 1695
Searching #1500 out of 1695
Searching #1550 out of 1695
Searching #1600 out of 1695
Searching #1650 out of 1695
Making the database for rap
Making the de-duplicated database!
reggae
Searching #0 out of 416
Searching #50 out of 416
Searching #100 out of 416
Searching #150 out of 416
Searching #200 out of 416
Searching #250 out of 416
Searching #300 out of 416
Searching #350 out of 416
Searching #400 out of 416
Making the database for reggae
Making the de-duplicated database!
soul
Searching #0 out of 1226
Searching #50 out of 1226
Searching #100 out of 1226
Searching #150 out of 1226
Searching #200 out of 1226
Searching #250 out of 1226
Searching #300 out of 1226
Searching #350 out of 1226
Searching #400 out of 1226
Searching #450 out of 1226
Searching #500 out of 1226
Searching #550 out of 1226
Searching #600 out of 1226
Searching #650 out of 1226
Searching #700 out of 1226
Searching #750 out of 1226
Searching #800 out of 1226
Searching #850 out of 1226
Searching #900 out of 1226
Searching #950 out of 1226
Searching #1000 out of 1226

**I'm going to execute a couple of queries to make sure that the data is stored ok. First I will do a simple query a head of the dataframe. Then I'm going to ask for all of the unique genres within the table.**

In [9]:
con = sqlite3.connect('ticket_touting.db')
cur = con.cursor()
query = "SELECT * FROM all_concert_data_seetgeek limit 10"
cur.execute(query)

column_names = ['id', 'announce_date', 'created_at', 'date_tbd', 'datetime_local', 'datetime_tbd',
                'datetime_utc', 'general_admission', 'score','short_title','stats.average_price',
                 'stats.highest_price','stats.listing_count','stats.lowest_price', 
                'stats.lowest_price_good_deals','time_tbd','title','type','url','venue.address',
                'venue.city','venue.country','venue.display_location','venue.extended_address',
                'venue.id','venue.location.lat','venue.location.lon','venue.name',
                'venue.postal_code','venue.score','venue.slug', 'venue.state', 
                'venue.timezone','visible_until_utc','artist_name','artist_id','artist_genre']

pd.DataFrame(cur.fetchall(), columns=column_names).set_index('id')

,announce_date,created_at,date_tbd,datetime_local,datetime_tbd,datetime_utc,general_admission,score,short_title,stats.average_price,...,venue.name,venue.postal_code,venue.score,venue.slug,venue.state,venue.timezone,visible_until_utc,artist_name,artist_id,artist_genre
id,,,,,,,,,,,,,,,,,,,,,
2948301,2015-11-30T00:00:00,2015-11-30T00:00:00,0,2016-05-24T20:00:00,0,2016-05-24T18:00:00,None,0.767775,Coldplay with Alessia Cara and Reef and Lianne...,NaN,...,Stade Charles Ehrmann,6000.0,0.000000,stade-charles-ehrmann,None,Europe/Paris,2016-05-24T22:00:00,Coldplay,32,alternative
2955353,2015-12-05T00:00:00,2015-12-05T00:00:00,0,2016-05-26T21:00:00,0,2016-05-26T19:00:00,None,0.767775,Coldplay with Alessia Cara and Reef and Lianne...,NaN,...,Estadi Olimpic Lluis Companys,8038.0,0.000000,estadi-olimpic-lluis-companys,None,Europe/Madrid,2016-05-26T23:00:00,Coldplay,32,alternative
2951454,2015-12-03T00:00:00,2015-12-03T00:00:00,0,2016-05-27T19:00:00,0,2016-05-27T17:00:00,None,0.767775,Coldplay with Alessia Cara and Reef and Lianne...,NaN,...,Estadi Olimpic Lluis Companys,8038.0,0.000000,estadi-olimpic-lluis-companys,None,Europe/Madrid,2016-05-27T21:00:00,Coldplay,32,alternative
2948351,2015-11-30T00:00:00,2015-11-30T00:00:00,0,2016-06-01T18:00:00,0,2016-06-01T16:00:00,None,0.767775,Coldplay with Platinum,NaN,...,Veltins Arena,45891.0,0.000000,veltins-arena,North Rhine-westphal,Europe/Berlin,2016-06-01T20:00:00,Coldplay,32,alternative
2939818,2015-11-22T00:00:00,2015-11-22T00:00:00,0,2016-06-04T16:00:00,0,2016-06-04T15:00:00,None,0.767775,Coldplay with Alessia Cara and Reef and Lianne...,NaN,...,City of Manchester Stadium,M11 3FF,0.000000,city-of-manchester-stadium,Man,Europe/London,2016-06-04T19:00:00,Coldplay,32,alternative
2947368,2015-11-28T00:00:00,2015-11-28T00:00:00,0,2016-06-05T16:00:00,0,2016-06-05T15:00:00,None,0.737119,Coldplay with Alessia Cara and Reef and Lianne...,314,...,Etihad Stadium,M11 3FF,0.751505,etihad-stadium-2,Lancashire,Europe/London,2016-06-05T19:00:00,Coldplay,32,alternative
2943448,2015-11-25T00:00:00,2015-11-25T00:00:00,0,2016-06-07T16:00:00,0,2016-06-07T15:00:00,None,0.771408,Coldplay with Alessia Cara and Reef and Lianne...,NaN,...,Hampden Park National Stadium,G42 9BA,0.731718,hampden-park-national-stadium,Glasgow City,Europe/London,2016-06-07T19:00:00,Coldplay,32,alternative
2948330,2015-11-30T00:00:00,2015-11-30T00:00:00,0,2016-06-11T19:00:00,0,2016-06-11T17:00:00,None,0.767784,Coldplay,NaN,...,Letzigrund Stadion,8004.0,0.316511,letzigrund-stadion,ZH,Europe/Zurich,2016-06-11T21:00:00,Coldplay,32,alternative
3219699,2016-04-10T00:00:00,2016-04-10T00:00:00,0,2016-06-12T17:30:00,0,2016-06-12T15:30:00,None,0.699434,Lianne La Havas with Coldplay,NaN,...,Letzigrund Stadion,8004.0,0.316511,letzigrund-stadion,ZH,Europe/Zurich,2016-06-12T19:30:00,Coldplay,32,alternative
2948974,2015-12-02T00:00:00,2015-12-02T00:00:00,0,2016-06-12T19:00:00,0,2016-06-12T17:00:00,None,0.767784,Coldplay,NaN,...,Letzigrund Stadion,8004.0,0.316511,letzigrund-stadion,ZH,Europe/Zurich,2016-06-12T21:00:00,Coldplay,32,alternative

In [23]:
con = sqlite3.connect('ticket_touting.db')
cur = con.cursor()
query = "SELECT DISTINCT artist_genre FROM all_concert_data_seetgeek"
cur.execute(query)

column_names = ['artist_genre']

pd.DataFrame(cur.fetchall(), columns=column_names)

             artist_genre
0     2016-05-15T02:00:00
1     2016-05-28T09:00:00
2     2016-05-30T03:00:00
3     2016-05-31T07:00:00
4     2016-05-08T00:00:00
5     2016-05-08T05:00:00
6     2016-05-19T07:00:00
7     2016-06-18T21:00:00
8     2016-07-02T23:00:00
9     2016-05-22T00:00:00
10    2016-05-30T07:00:00
11    2016-06-05T22:00:00
12    2016-06-17T14:00:00
13    2016-05-07T00:00:00
14    2016-05-13T09:00:00
15    2016-05-14T09:00:00
16    2016-05-15T04:00:00
17    2016-05-23T22:00:00
18    2016-05-29T13:30:00
19    2016-06-25T03:00:00
20    2016-06-26T03:00:00
21    2016-06-27T08:00:00
22    2016-07-15T04:00:00
23    2016-07-29T22:00:00
24    2016-06-19T03:00:00
25    2016-05-15T05:00:00
26    2016-05-16T04:00:00
27    2016-05-26T06:00:00
28    2016-05-27T06:00:00
29    2016-05-30T04:00:00
...                   ...
1321  2016-05-11T04:30:00
1322  2016-05-12T04:30:00
1323  2016-05-16T02:30:00
1324  2016-05-20T03:30:00
1325  2016-05-08T17:00:00
1326  2016-06-02T23:00:00
1327  2016-07-28T00:00:00
1328  2016-09-23T22:00:00
1329  2016-06-18T08:30:00
1330  2016-05-06T19:00:00
1331  2016-05-08T21:00:00
1332  2016-07-26T22:30:00
1333  2016-05-16T22:30:00
1334  2016-05-20T07:30:00
1335          alternative
1336                 rock
1337              country
1338              hip-hop
1339                indie
1340                  pop
1341                  rnb
1342                blues
1343            classical
1344                 folk
1345                 jazz
1346                latin
1347                 punk
1348                  rap
1349               reggae
1350                 soul

[1351 rows x 1 columns]